<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Kanban</title>
</head>
<body>
<div id="app">
    <h1>Доска задач</h1>
    <create-card @card-created="addCard"></create-card>
    <div>
        <h3>Удалить все карточки</h3>
        <button @click="clearCards">Очистить все карточки</button>
    </div><br>
    <edit-card v-if="editingCard" :card="editingCard" @save="saveEditedCard" @cancel="cancelEdit"></edit-card><br>
    <div class="columns">
        <div class="column" v-for="column in [1, 2, 3, 4]" :key="column">
            <h2>{{ column === 1 ? 'Новые' : column === 2 ? 'В работе' : column === 3 ? 'На тестировании' : 'Выполнено' }}</h2>
            <note-card
                    v-for="card in cards.filter(c => c.column === column)"
                    :key="card.id"
                    :card="card"
                    :column="column"
                    @edit-card="editCard"
                    @delete-card="deleteCard"
                    @move-card="moveCard"
                    @move-card-back="moveCardBack"
            ></note-card>
        </div>
    </div>
</div>
</body>
</html>